<article>
  <a href="https://lessoneer.com" class="image"><img src="/assets/images/lessoneer.png" alt="" /></a>
  <div class="inner">
    <h4>Lessoneer</h4>
    <p>
      An online curriculum management software platform called Lessoneer that
      is used by K-12 school districts to build, access, plan and share math,
      language arts, and science curricula. Lessoner leverages Ruby on Rails and React.
    </p>
  </div>
</article>
<article>
  <a href="https://resourcify.lessoneer.com" class="image"><img src="/assets/images/resourcify.png" alt="" /></a>
  <div class="inner">
    <h4>Resourcify</h4>
    <p>
      There are a number of freely available curricula that teachers use. While
      there many teacher-created supplemental resources available to support curricula,
      these resources are not available on the curriculum publishers’ websites.
      This is where Resourcify steps in. We built a content-aware Chrome Extension
      that makes supplemental resources accessible based on the current webpage URL.
      Resourcify was built using React and Gulp for the frontend connected to a lightning
      fast Ruby on Rails API.
    </p>
  </div>
</article>
<article>
  <a href="https://splitr.io" class="image"><img src="/assets/images/splitr.png" alt="" /></a>
  <div class="inner">
    <h4>Splitr</h4>
    <p>
      Often in the education space, freely available curricula can be found in
      PDF format. However, these PDFs can be hundreds of pages long with the
      teacher needing to print, or digitally hand out only a few pages. While
      there are utilities for breaking up a PDF, we wanted one that was education
      focused and could have pre-loaded suggestions of which pages to split upon
      (e.g. pages 10-12 of 52 pages for "Module 2 Lesson 1 Homework" for a particular
      curriculum).
    </p>
    <p>
      Utilizing PDFtk to manipulate PDFs, Splitr uses React, Ruby on Rails, and PDF.js
      to help teachers quickly find and split the pages within the documents
      that they need. Splitr also makes it easy to share the split documents
      to Google Classroom.
    </p>
  </div>
</article>
<article>
  <a href="https://classroomify.lessoneer.com" class="image"><img src="/assets/images/classroomify.png" alt="" /></a>
  <div class="inner">
    <h4>Classroomify</h4>
    <p>
      Allows teachers to easily share resources to Google Classroom (e.g. share
      a copy of a pdf with each student in a class). Classroomify is integrated
      into Lessoneer, but can also be leveraged as a standalone SaaS application.
    </p>
  </div>
</article>
